html{
	text-align: center;
	background-color: #012F5A;

}
body{
	width: 1280px;
	height:auto;
	background-color: #012F5A;
	display: inline-block;
    margin: 0px auto;
    text-align: center;
}
input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 3;
}
/*Style her top header / menu / logo div etc.*/
#searchIcon
{
	color:white;
	margin-left: 10px;
	margin-top: 20px;
}
.search
{
	width: 500px;
	height: 82px;
	float:right;
	padding: 5px;
	position: relative;
}
#searchInput
{
	height: 50%;
	width: 50%;
	border-radius: 15px;
	margin-left: 70px;
	margin-top: 20px;
	padding:17px;
	padding-left:55px;
	width:300px;
	border:1px solid #f5f5f5;
	font-size:13px;color:gray;
	background-image:url('http://i47.tinypic.com/r02vbq.png');
	background-repeat:no-repeat;
	background-position:left center;
	outline:0;

}
.slogan_div
{

	width: 1280px;
	height: 200px;	
	background-color: #141516;

		
}
.logo
{
	float: left;
	width: 500px;
	height: auto;
	white-space: nowrap;
 }
#logo_h1
{
 color: white;
 float:left;
 font-size: 55px;
 font-family: fantasy;
 margin-left: 40px;
 margin-bottom: 0;
 margin-top: 20px;
}
#logo_p{
	color: white;
	font-family: cursive;
	font-size:20px;
	float:left;
	margin-left: 40px;
	margin-top: 0px;
	letter-spacing: 1px;
	
}
.menu
{
	display: inline-block;
	margin-top: 0px;
	font-size: 20px;
	font-family: cursive;

}
.menu a
{
	color: white;
	text-decoration: none;	
}
.header
{
	border: 1px solid black;
	width: 1280px;
	height: 200px;	
	background-color: #141516;
	padding-top: 20px;	
}
.main-content{
	height: auto;
	width: 1280px;
	padding-bottom: 100px;
	

}
.banner
{
	text-align: center;
	margin-bottom: 0px;
	background-color: #141516;
}
.icon
{
	border-radius: 50%;
	background-color: #303234;
	height: 80px;
	width: 80px;
	display: inline-block;
	padding: 12px;

}
.icons-div
{	
    width: auto;
    float: right;
    margin-right: 60px;
    margin-top: 60px;

  

}
#slogan-h2
{
	font-family: serif;
	font-size:35px;
	color:#BEBEBC;
	float: left;
	width: 700px;
	margin-left: 50px;
	margin-top: 50px;
}

/*style for main content div and all children classes*/
.left-div
{
	float:left;
	width: 980px;
	height: 100%;
	border: 1px solid black;
	text-align: left;

}
.right-div
{
	background-color: lightgrey;
	margin-top: 0px;
	height:100%;
	padding-top: 45px;
	padding-left: 30px;
	text-align: left;
}
.post-div h2
{	font-weight: bold;
	text-align: left;

}
.post-div p
{	
	text-align: left;
}
.post-div img
{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
}
.post-div button
{
	float:left;
	font-weight: bold;
	text-align: left;
	width: 200px;
	text-align: center;

}
.post-div{
	padding-top: 30px;
}

/*Footer  and children css*/
.footer
{
	border: 1px solid black;
	width: 100%;
	height: 400px;
	background-color: #141516;
	color: white;
	text-align: left;
	font-family: serif;
}
.footer-icons-div
{
	margin-top: 30px;
	margin-right: 55px;
    float: right;
    

}
.footer h1{
	margin-bottom: 25px;
}
.footer p{
	color:#BEBEBC;
	font-size: 15px;
}
.footer-icon
{
	border-radius: 50%;
	background-color: #303234;
	height: 70px;
	width: 70px;
	display: inline-block;
	padding: 16px;

}